{{> head }}
  {{> navbar }}
  
  <div class="row">
    <div class="col-8">
      <h1>Imagen de Mar</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, ullam.</p>
    </div>
    <div class="col-4">
      <img src="https://picsum.photos/200/300" alt="imagen" class="img-thumbnail">
    </div>
  </div>
  
{{> footer }}